<app-layout [title]="'A propos'">
  <p>Family Piknik, un festival pour toutes les générations !</p>
  <p>
    Les plus jeunes accompagnent leurs parents et leurs grand-parents, sachant
    que l’entrée est offerte aux moins de 14 ans, aux plus de 55 ans ainsi
    qu’aux personnes à mobilité réduite.
  </p>
  <p>
    Pour les enfants, un espace ludique est mis à disposition, avec des
    animations et une surveillance renforcée. Pique-nique, jeux aquatiques,
    différents ateliers, tout est fait pour que les enfants s’amusent tout
    autant que leurs parents.
  </p>
</app-layout>
